 <div class="panel panel-default items">
 
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      
      <tbody>

      <% user_email = Order.find_by(id: @order.id).email %>
      <h3>Email Address: <%= user_email %></h3>

 <% @order_details = LineItem.joins(:order, :product).where(line_items: {order_id: @order.id} ) %>
        <% @order_details.each do | lists |%>
      <tr>
  <td>
    Image: <img width="120" height="120" src="<%= lists.product.image %>" /> </td>
  <td>
    <h4>Name: <%= lists.product.name %></h4>
    <br>
    <p>Description: <%= lists.product.description %></p>
  </td>
  <td>
   <%= lists.item_price_cents / 100 %>
  </td>
  <td>
    <%= lists.quantity %>
  </td>
  <td>
    <% @total_amount = lists.total_price_cents / 100 %>
    <%= @total_amount %>
  </td>

</tr>
    
  <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <% totals = Order.find_by(id: @order.id).total_cents %>
           $<%= totals / 100 %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
  
    </div>